doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Pham The Duy - Software Engineer Portfolio")
    meta(name="author" content="Pham The Duy")
    title= title || 'Pham The Duy - Portfolio'
    link(rel="stylesheet" href="/css/main.css")
    block styles
  body
    include ../partials/header
    include ../partials/navigation

    main.main-content
      block content

    include ../partials/footer

    script(src="/js/api.js")
    script(src="/js/main.js")
    block scripts
